.main{
    display: flex;
    background-color: #266868;
    width: 100vw;
    height: 100vh
  }


.register{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
     /* background: black; */
     width: 100vw;
     height: 100vh
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.input{
    padding: 10px;
    border-radius: 6px
}
